* {
  margin: 0;
  padding: 0;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header {
  background-color: #fff8f3;
  background: url("../images/developer.png"), url("../images/header_bg.png"),
    #fff8f3;
  background-repeat: no-repeat;
  background-position: 38px 23px, right bottom;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 230px 0 230px;
  align-items: center;
}
.logo h2 {
  font-size: 45px;
  font-weight: 900;
}
.logo h2 span {
  color: #fd6e0a;
}
.menu {
  display: flex;
  gap: 51px;
  align-items: center;
}

.menu li {
  list-style: none;
}
.menu li a {
  text-decoration: none;
  font-size: 20px;
  color: #474747;
}

/* shared style */
.btn {
  padding: 18px 35px;
  border: none;
  border-radius: 5px;
  background-color: #fd6f0a;
  font-size: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.nav,
.about-container,
.skill {
  width: 71%;
  max-width: 1140px;
  margin: 0px auto;
}

.banner-container {
  margin: 46px 38px 0px 230px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-content {
  width: 585px;
}
.banner-content h2 {
  font-size: 45;
  font-weight: 600;
  color: #474747;
  margin-bottom: 5px;
}
.banner-content h1 {
  font-size: 85px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 20px;
}
.banner-content p {
  font-size: 18px;
  font-weight: #757575;
  margin-bottom: 30px;
}

.banner-container img {
  max-width: 585px;
  vertical-align: middle;
}

/* about section style */
.about-container {
  background-color: #fff8f3;
  margin-top: 130px;
}

.about-container .about {
  padding: 131px 157px;
  text-align: center;
  max-width: 827px;
}
.about-container .about h2 {
  font-size: 35;
  font-weight: bold;
  color: #181818;
  margin-bottom: 30px;
}

.about-container .about p {
  font-size: 18;
  line-height: 30px;
  color: #757575;
  margin-bottom: 30px;
}

.about-info-content {
  display: flex;
  justify-content: space-around;
}
.about-info h4 {
  font-size: 20px;
  font-weight: 400;
  color: #757575;
}
.about-info p {
  font-size: 20px;
  font-weight: bold;
  color: #757575;
  line-height: 30px;
}

/* skill section style */
.skill-container {
  margin-top: 130px;
}
.skill-content h2 {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 30px;
}
.skill-content p {
  max-width: 827px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: #757575;
  line-height: 30px;
  margin: 0px auto;
}

.skill {
  display: flex;
  gap: 24px;
  margin-top: 50px;
}
.skill-card {
  padding: 30px;
  box-shadow: 0 6px 50px 0 rgba(128, 128, 128, 0.279);
  border-radius: 5px;
}
.skill-card img {
  margin-bottom: 30px;
}
.skill-card h3 {
  font-size: 20;
  font-weight: bold;
  color: #181818;
  margin-bottom: 20px;
}
.skill-card p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #757575;
}
.resume-container {
  margin-bottom: 113px;
}
.resume-tittle {
  margin-top: 130px;
  margin-bottom: 113px;
  font-size: 35px;
  font-weight: bold;
  color: #181818;
  text-align: center;
}
.resume-box {
  display: flex;
  gap: 71px;
  width: 71%;
  max-width: 1140px;
  margin: 0px auto;
}
.education-tittle {
  font-size: 30px;
  font-weight: bold;
  color: #474747;
  margin-bottom: 30px;
}
.education-content h4 {
  font-size: 20px;
  font-weight: bold;
  color: #474747;
  margin-top: 30px;
}

.education-content .vercity {
  font-size: 16px;
  font-weight: 600;
  color: #474747;
  margin-top: 10px;
}
.education-content p {
  font-size: 16px;
  line-height: 28px;
  color: #757575;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 30px;
}
.resume-btn {
  text-align: center;
  margin-top: 50px;
}
footer {
  background-color: #fff8f3;
}
.footer-container {
  display: flex;
  padding: 130px;
  gap: 117px;
}
.left-content h2 {
  font-size: 30px;
  font-weight: bold;
  color: #181818;
}
.left-content p {
  max-width: 562px;
  font-size: 16px;
  font-weight: 400;
  color: #474747;
  line-height: 28px;
  margin-top: 20px;
}

.social-icon {
  margin-right: 24px;
  margin-top: 20px;
}

.form {
  display: block;
}

.right-content h2 {
  font-size: 30px;
  font-weight: bold;
  color: #181818;
}

input {
  padding: 20px;
  margin-top: 10px;
  width: 441px;
  border: none;
  outline: none;
  border-radius: 5px;
}
textarea {
  padding: 20px;
  margin-top: 10px;
  width: 441px;
  border: none;
  outline: none;
  border-radius: 5px;
}
